<form [formGroup]="paymentDetailForm" autocomplete="off" (submit)="onSubmit()">
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-white">
          <i class="far fa-user-circle" [ngClass]="{ 'red-icon': f.cardOwnerName.errors && f.cardOwnerName.touched, 'green-icon': f.cardOwnerName.valid }"></i>
        </div>
      </div>
      <input class="form-control" hidden type="text" formControlName="id">

      <input class="form-control" formControlName="cardOwnerName" placeholder="Card Owner Name">
    </div>
  </div>
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-white">
          <i class="far fa-credit-card" [ngClass]="{ 'red-icon': f.cardNumber.errors && f.cardNumber.touched, 'green-icon': f.cardNumber.valid }"></i>
        </div>
      </div>
      <input class="form-control" formControlName="cardNumber" placeholder="16 Digit Card Number" maxlength="16">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-7">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text bg-white">
            <i class="far fa-calendar-alt" [ngClass]="{ 'red-icon': f.expirationDate.errors && f.expirationDate.touched, 'green-icon': f.expirationDate.valid }"></i>
          </div>
        </div>
        <input class="form-control" formControlName="expirationDate" placeholder="MM/YY" maxlength="5">
      </div>
    </div>
    <div class="form-group col-md-5">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text bg-white">
            <i class="fas fa-key" [ngClass]="{ 'red-icon': f.cVV.errors && f.cVV.touched, 'green-icon': f.cVV.valid }"></i>
          </div>
        </div>
        <input class="form-control" type="password" formControlName="cVV" placeholder="CVV" maxlength="3" minlength="3">
      </div>
    </div>
  </div>
  <div class="form-grop">
    <button type="submit" class="btn btn-success btn-lg btn-block" [disabled]="paymentDetailForm.invalid"><i class="fas fa-database"></i> Submit</button>
    <button type="button" (click)="paymentDetailForm.reset()">Reset form</button>
  </div>
</form>
