<div class="row">
    <div class="col s6 offset-s3">
        <div class="card">
            <div>
                <img class="card__img"src="https://image.shutterstock.com/image-vector/concept-403-forbidden-access-web-260nw-1124618441.jpg" alt="Forbidden Logo">
            </div>
            <div class="card-content">
                <span class="card-content__text">403 - ACCESS DENIED</span>
                <p>You don't have the permission to access this recourse.</p>
            </div>
        </div>
    </div>
</div>
