/* You can add global styles to this file, and also import other style files */
input.ng-touched.ng-invalid {
    border-color: red;
}

input.ng-valid {
    border-color: green;
}

.red-icon {
    color: red;
}

.text-danger {
    margin: 5px auto 0;
}

.green-icon {
    color: green;
}

#toast-container > div {
    opacity: 1;
}

table tr:hover {
    cursor: pointer;
    background-color: rgb(240, 232, 232);
}

div.required>label:first-child:after {
    content: "*";
    color: red;
    padding-left: 5px;
}

.img-fluid {
    max-width: 30%;
}
