<header>
  <nav class='navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark'>
    <div class="container">
      <a class="navbar-brand" [routerLink]='["/"]'>Test Project App</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
        aria-label="Toggle navigation" [attr.aria-expanded]="isExpanded" (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngClass]='{"show": isExpanded}'>
        <ul class="navbar-nav flex-grow">
          <li class="nav-item">
            <a class="nav-link" routerLink="/adminPanel">Admin Panel</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]='["/"]'>Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]='["/image/upload"]'>Image</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]='["/paymentDetail"]'>Payment Detail</a>
          </li>
        </ul>
      </div>
    </div>
    <button class="btn btn-danger my-2 my-sm-0" (click)="onLogout()">Logout</button>
  </nav>
</header>
