<div class="cont">
  <div class="form sign-in">
    <form [formGroup]="logInFormModel" autocomplete="off">
      <h2>Welcome back,</h2>
          <label>User Name</label>
          <input formControlName="userName">
          <label class="text-danger" *ngIf="logInFormModel.get('userName').touched
                                            && logInFormModel.get('userName').errors?.required">This field is mandatory.</label>
        <label>Password</label>
        <input type="password" class="form-control" formControlName="password">
        <label class="text-danger" *ngIf="logInFormModel.get('password').touched
                                          && logInFormModel.get('password').errors?.required">This field is mandatory. </label>
        <label class="text-danger" *ngIf="logInFormModel.get('password').touched
                                          && logInFormModel.get('password').errors?.minlength">Minimum 4 characters required.</label>

        <button type="button" (click)="logIn()" [disabled]="logInFormModel.invalid" class="submit">Sign In</button>
        <!-- <button type="button" class="fb-btn">Connect with <span>facebook</span></button> -->
    </form>
  </div>
  <div class="sub-cont">
    <div class="img">
      <div class="img__text m--up">
        <h2>New here?</h2>
        <p>Sign up and discover great amount of new opportunities!</p>
      </div>
      <div class="img__text m--in">
        <h2>One of us?</h2>
        <p>If you already has an account, just sign in. We've missed you!</p>
      </div>
      <div class="img__btn">
        <span class="m--up">Sign Up</span>
        <span class="m--in">Sign In</span>
      </div>
    </div>
    <div class="form sign-up">
      <h2>Time to feel like home,</h2>
      <form [formGroup]="signInFormModel" autocomplete="off">
          <div class="required">
            <label>User Name</label>
            <input class="form-control" formControlName="userName">
            <label class="text-danger" *ngIf="signInFormModel.get('userName').touched
                                              && signInFormModel.get('userName').errors">This field is mandatory.</label>
          </div>
          <div>
            <label>Email</label>
            <input class="form-control" formControlName="email">
            <label class="text-danger" *ngIf="signInFormModel.get('email').touched
                                              && signInFormModel.get('email').errors">Invalid email address.</label>
          </div>
          <div>
            <label>Full Name</label>
            <input class="form-control" formControlName="fullName">
          </div>
          <div formGroupName="passwords">
            <div class="required">
              <label>Password</label>
              <input type="password" class="form-control" formControlName="password">
              <label class="text-danger" *ngIf="signInFormModel.get('passwords.password').touched
                                                && signInFormModel.get('passwords.password').errors">This field is mandatory. </label>
              <label class="text-danger" *ngIf="signInFormModel.get('passwords.password').touched
                                          && signInFormModel.get('passwords.password').errors?.minlength">Minimum 4 characters required.</label>
            </div>
            <div class="required">
              <label>Confirm Password</label>
              <input type="password" class="form-control" formControlName="confirmPassword">
              <label class="text-danger" *ngIf="signInFormModel.get('passwords.confirmPassword').touched
                                          && signInFormModel.get('passwords.confirmPassword').errors?.required">This field is mandatory.</label>

              <label class="text-danger" *ngIf="signInFormModel.get('passwords.confirmPassword').touched
                                          && signInFormModel.get('passwords.confirmPassword').errors?.passwordMismatch">Confirm password does not match.</label>
            </div>
          </div>
        </form>
      <button type="button" (click)="signIn()" [disabled]="signInFormModel.invalid" class="submit">Sign Up</button>
      <button type="button" class="fb-btn">Join with <span>facebook</span></button>
    </div>
  </div>
</div>
 <!-- source https://codepen.io/suez/pen/RpNXOR -->